
body.noscroll {
	overflow: hidden
}

#sidebarright {
	width: 100%;
	right: -100%;
	position: fixed;
	top: 0;
	height: 100vh;
	z-index: 3999;
	background-color: var(--colorbackhmenu1);
	color: #fff;
	transition: all .3s;
	overflow: auto
}

#sidebarright a,
#sidebarright a:hover {
	color: #fff
}

#sidebarright ul .svg-inline--fa {
	color: #df9403
}

#sidebarright .right-menu {
	padding: 0;
	border-top: 0 solid rgba(0, 0, 0, 0.3);
	margin-top: 0
}

#sidebarright .right-menu .right-menu-item {
	padding: 0;
	background-color: rgba(255, 255, 255, 0.08);
	margin-bottom: 1px
}

#sidebarright .right-menu .ntitle {
	font-weight: 600
}

#sidebarright .right-menu .desc {
	font-size: 13px
}

#sidebarright ul li a {
	position: relative;
	padding: 10px 20px 10px 50px;
	font-size: 1.1em;
	display: block
}

#sidebarright ul li .fas,
#sidebarright ul li .svg-inline--fa {
	font-size: 20px;
	margin-right: 5px;
	color: #df9403;
	position: absolute;
	left: 20px
}

#sidebarright .count {
	background-color: rgba(0, 0, 0, 0.07);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 3px;
	font-size: 12px;
	display: inline-block;
	text-align: center;
	margin-left: 3px
}

#dismiss {
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	position: absolute;
	cursor: pointer;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	font-size: 26px
}

#sidebarleft #dismiss {
	top: 15px;
	right: 15px
}

#dismiss:hover {
	color: #fff
}

#sidebarright .sidebar-header {
	padding: 20px;
	text-align: right;
	border-bottom: 1px solid rgba(0, 0, 0, 0.18)
}

#sidebarright.active {
	right: 0
}


.wrapperww {
		display: grid;
		/*margin: 100px;*/
    grid-gap: 10px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 40px;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
		color: #444;
	}

	.boxww {
		background-color: var(--butactionbg);
		color: #fff;
		border-radius: 5px;
		padding: 20px;
		margin: 10px;
		font-size: 150% !important;

	}
div.tmenucenter {
    width: 100% !important;
    white-space: nowrap;
    overflow: visible !important;
    text-overflow: ellipsis;
    color: var(--colortextbackhmenu);
}

div.tmenucenter {
    max-width:100% !important;
 
}